header {
    height: 90px;
    background-color: #fff;

    nav {
        height: 100%;

        img {
            max-width: 200px;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $text_color;
            line-height: 40px;
            padding: 0 20px;
            margin: 0 5px;

            &:hover {
                text-decoration: none;
                border-bottom: 2px solid #61ce4e;
                color: $text_color;
            }

            &.navbar-brand:hover {
                border: none;
            }

            &.active {
                border-bottom: 2px solid #61ce4e;
            }

            &.btn {
                padding: 0 20px;
                margin: 0 5px;
                line-height: 40px;
            }
        }
    }
}
