header nav {
    height: 90px;
    padding: 10px 0;

    img {
        max-width: 200px;
    }

    a {
    margin: 0 5px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;

        &.nav-boolean:hover {
            border-bottom: 2px solid #61ce4e;
        }

        &.nav-boolean:first-child {
            border-bottom: 2px solid #61ce4e;
        }

        &.nav-boolean.btn-success {
            color: #fff!important;
        }
    }

}
