main {
    // margin-top: 90px;
}

#jumbo {
    padding: $pad_big_section;
    h1 {
        text-transform: uppercase;
        font-size: 57px;
         margin-bottom: 30px;
    }
    img {
        max-width: 90%;
    }
}

#bool-data {
    padding: $pad_small_section;
    strong {
        font-size: 49.5px;
        font-weight: 400
    }

    .col {
        text-align: center;

    }
}

#placement {
    h3 {font-size: $font_size_h3}
    padding: $pad_big_section;
    img {
        max-width: 90%;
    }
}

#privacy-policy {
    padding: $pad_small_section;
}
